<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="yandex-verification" content="2b4e7bef1e407b94" />
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/aos.css" />
    <link rel="stylesheet" href="../public/css/styles.css">
    <link rel="stylesheet" href="../public/css/all.css">
    <link rel="shortcut icon" href="../public/images/favicon.ico" type="image/x-icon">
    <title>Fast Service Plus | Ремонтная мастерская | Ремонт компьютеров, ноутбуков, планшетов, телефонов</title>
</head>


<body>
    <!--Header-->
    <header>
        <!--Прелоадер-->
        <div id="loader-wrapper">
            <div id="loader"></div>
        </div>
        <a href="javascript:" class="d-none d-xl-block return-to-top arrow-to-scoll"><i class="fas fa-angle-up"></i></a>
        <!--Лого-->
        <nav class="navbar scrolling-navbar fixed-top navbar-expand-lg navbar-light">
            <a class="navbar-brand text-uppercase" href="#">
                <img src="../public/images/FSP-logo.png" height="40px" alt="Логотип">
                Fast Service Plus
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#section1">Наши преимущества<span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#section2">Услуги</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" href="#section3">Принцип работы</a>
                    </li>
                </ul>
                <!--Контакты-->
                <div class="phone row d-none d-lg-block">
                    <div class="col-auto mr-4">
                        <a href="tel:+375291669911">+375 29 166-99-11
                            <i class="fab fa-viber "></i>
                            <i class="fab fa-telegram-plane"></i>
                            <img src="../public/images/velcom.png" class="pb-1" height="16px" alt="Velcom">
                        </a>
                        <a href="tel:+375259222034">+375 25 9-222-034
                            <img src="../public/images/life.png" class="pb-1" height="16px" alt="Life">
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <div class="overlay"></div>
        <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
            <source src="../public/images/Morning-Routine.mp4" type="video/mp4">
        </video>
        <div class="container h-100 w-100 text-black">
            <div class="repair-service">
                <h1 class="text-uppercase">
                    <img src="../public/images/FSP-logo.png" alt="Логотип">
                    Fast Service Plus
                </h1>
                <h2>Ремонтная мастерская</h2>
                <p>
                    Быстрый и&nbsp;качественный ремонт
                </p>
                <ul>
                    <li>стационарных компьютеров</li>
                    <li>ноутбуков</li>
                    <li>планшетов</li>
                    <li>телефонов</li>
                </ul>
                <p>
                    Работа с программным обеспечением под&nbsp;ключ.
                </p>
                <a data-toggle="modal" data-target="#contact" class="form-button col-11 text-uppercase" href="">
                    Заказать консультацию
                </a>
            </div>
            <a class="ct-btn-scroll arrow-to-scoll" href="#section1"><i class="fas fa-angle-down"></i></a>
        </div>
    </header>
    <!--Устройства-->
    <section id="section1">
        <h2 class="section-header">Наши преимущества
            <hr>
        </h2>
        <div class="benifits-all offset-xl-2 col-xl-8">
            <div class="benifits special-row">
                <div class="benif wow col-6 col-lg-3">
                    <i class="far fa-clock"></i>
                    <p>Краткие сроки исполнения</p>
                </div>
                <div class="benif wow col-6 col-lg-3">
                    <i class="far fa-money-bill-alt"></i>
                    <p> Бесплатная диагностика</p>
                </div>
                <div class="benif wow col-6 col-lg-3">
                    <i class="far fa-building"></i>
                    <p>Возможность ремонта на&nbsp;месте</p>
                </div>
                <div class="benif wow col-6 col-lg-3">
                    <i class="far fa-star"></i>
                    <p>Качественное исполнение</p>
                </div>
            </div>
            <div class="benifits special-row">
                <div class="benif wow col-6 col-lg-3">
                    <i class="far fa-handshake"></i>
                    <p>Договор на&nbsp;оказание услуг</p>
                </div>
                <div class="benif wow col-6 col-lg-3">
                    <i class="far fa-address-card"></i>
                    <p>Опытные специалисты</p>
                </div>
                <div class="benif wow col-6 col-lg-3">
                    <i class="far fa-file-alt"></i>
                    <p>Гарантия на&nbsp;ремонт</p>
                </div>
                <div class="benif wow col-6 col-lg-3">
                    <i class="far fa-user"></i>
                    <p>Индивидуальный подход</p>
                </div>
            </div>
        </div>
    </section>
    <section id="section2">
        <h2 class="section-header">Услуги
            <hr>
        </h2>
        <div class="special-row">
            <div class="offset-xl-2 col-xl-4 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../public/images/accounting-analytics-apple-572056.jpg"
                        alt="Ремонт компьтеров">
                    <div class="card-body">
                        <div class="controls">
                            <a data-action="drawer">

                                <i class="fas fa-arrow-up up"></i>
                                <i class="fas fa-arrow-down down"></i>
                            </a>
                            <h1>Ремонт компьютеров</h1>
                        </div>
                        <div class="d-none d-sm-block">
                            <ul>
                                <li>
                                    Ремонт/замена комплектующих (материнских плат, жестких дисков, матриц, DVD и&nbsp;CD
                                    приводов и&nbsp;т.д.)
                                </li>
                                <li>
                                    Восстановление после механических повреждений или попадения жидкости
                                </li>
                                <li>
                                    Комплексное обслуживание
                                </li>
                            </ul>
                        </div>
                        <div class="d-block d-sm-none">
                            <ul>
                                <li>
                                    Ремонт/замена комплектующих
                                </li>
                                <li>
                                    Восстановление после механических повреждений или попадения жидкости
                                </li>
                                <li>
                                    Комплексное обслуживание
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../public/images/books-business-computer-459654.jpg"
                        alt="Ремонт ноутбуков">
                    <div class="card-body">
                        <div class="controls">
                            <a data-action="drawer">

                                <i class="fas fa-arrow-up up"></i>
                                <i class="fas fa-arrow-down down"></i>
                            </a>
                            <h1>Ремонт ноутбуков</h1>
                        </div>
                        <div class="d-none d-sm-block">
                            <ul>
                                <li>
                                    Ремонт/замена комплектующих (материнских плат, жестких дисков, матриц, DVD и&nbsp;CD
                                    приводов и&nbsp;т.д.)
                                </li>
                                <li>
                                    Восстановление после механических повреждений или&nbsp;попадения жидкости
                                </li>
                                <li>
                                    Комплексное обслуживание
                                </li>
                            </ul>
                        </div>
                        <div class="d-block d-sm-none">
                            <ul>
                                <li>
                                    Ремонт/замена комплектующих
                                </li>
                                <li>
                                    Восстановление после механических повреждений или&nbsp;попадения жидкости
                                </li>
                                <li>
                                    Комплексное обслуживание
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-xl-2 col-xl-4 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../public/images/device-electronics-gadget-1638774.jpg"
                        alt="Ремонт планшетов">
                    <div class="card-body">
                        <div class="controls">
                            <a data-action="drawer">

                                <i class="fas fa-arrow-up up"></i>
                                <i class="fas fa-arrow-down down"></i>
                            </a>
                            <h1>Ремонт планшетов</h1>
                        </div>
                        <div class="d-none d-sm-block">
                            <ul>
                                <li>
                                    Ремонт/замена комплектующих (экранов, аккумуляторных батарей, динамиков, микрофонов,
                                    камер и т.д.)
                                </li>
                                <li>
                                    Восстановление после механических повреждений или попадения жидкости
                                </li>
                            </ul>
                        </div>
                        <div class="d-block d-sm-none">
                            <ul>
                                <li>
                                    Ремонт/замена комплектующих
                                </li>
                                <li>
                                    Восстановление после механических повреждений или&nbsp;попадения жидкости
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../public/images/android-android-phone-apps-47261.jpg"
                        alt="Ремонт телефонов" />
                    <div class="card-body">
                        <div class="controls">
                            <a data-action="drawer">

                                <i class="fas fa-arrow-up up"></i>
                                <i class="fas fa-arrow-down down"></i>
                            </a>
                            <h1>Ремонт телефонов</h1>
                        </div>
                        <div class="d-none d-sm-block">
                            <ul>
                                <li>
                                    Ремонт/замена комплектующих (экранов, аккумуляторных батарей, динамиков, микрофонов,
                                    камер и&nbsp;т.д.)
                                </li>
                                <li>
                                    Восстановление после механических повреждений или&nbsp;попадения жидкости
                                </li>
                            </ul>
                        </div>
                        <div class="d-block d-sm-none">
                            <ul>
                                <li>
                                    Ремонт/замена комплектующих 
                                </li>
                                <li>
                                    Восстановление после механических повреждений или&nbsp;попадения жидкости
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="special-row">
            <div class="offset-xl-2 col-xl-4 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../public/images/rawpixel-602153-unsplash.jpg"
                        alt="Устранение неисправностей" />
                    <div class="card-body">
                        <div class="controls">
                            <a data-action="drawer">

                                <i class="fas fa-arrow-up up"></i>
                                <i class="fas fa-arrow-down down"></i>
                            </a>
                            <h1>Устранение ошибок</h1>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    Ошибки в&nbsp;работе программ
                                </li>
                                <li>
                                    Ошибки операционной системы
                                </li>
                                <li>
                                    Ошибки подключения периферийных устройств
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../public/images/cyber-security-2765707_1920.jpg"
                        alt="Удаление вирусов" />
                    <div class="card-body">
                        <div class="controls">
                            <a data-action="drawer">

                                <i class="fas fa-arrow-up up"></i>
                                <i class="fas fa-arrow-down down"></i>
                            </a>
                            <h1>Удаление вирусов</h1>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    Установка антивирусных программ
                                </li>
                                <li>
                                    Устранение вредоносного программного обеспечения
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="offset-xl-2 col-xl-4 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../public/images/01.jpg" alt="Удаление вирусов" />

                    <div class="card-body">
                        <div class="controls">
                            <a data-action="drawer">

                                <i class="fas fa-arrow-up up"></i>
                                <i class="fas fa-arrow-down down"></i>
                            </a>
                            <h1>Установка системного ПО</h1>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    Установка операционной системы
                                </li>
                                <li>
                                    Установка драйверов
                                </li>
                                <li>
                                    Установка обслуживающих программ (утилит)
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card">
                    <img class="card-img-top" src="../public/images/tablet-2188370_1920.jpg" alt="Установка программ" />
                    <div class="card-body">
                        <div class="controls">
                            <a data-action="drawer">
                                <i class="fas fa-arrow-up up"></i>
                                <i class="fas fa-arrow-down down"></i>
                            </a>
                            <h1>Установка программ</h1>
                        </div>
                        <div>
                            <ul>
                                <li>
                                    Установка прикладных программ
                                </li>
                                <li>
                                    Установка инструментальных программ
                                </li>
                                <li>
                                    Устновка игр
                                </li>
                                <li>
                                    Удаление программ
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="section3">
        <!--Timeline-->
        <h2 class="section-header">Принцип нашей работы
            <hr>
        </h2>
        <div class="offset-lg-2 col-lg-8 offset-1 col-11 text-justify">
            <div class="timeline-item">
                <div class="phone" id="anchor-1" data-aos="fade-up" data-aos-anchor="#anchor-1">
                    <h3>Обращение с&nbsp;неполадкой</h3>
                    <p>
                        Мы связываемся с&nbsp;вами посредством бесплатного заказанного звонка и&nbsp;обсуждаем проблему.<br>
                        Также Вы можете самостоятельно позвонить нам по&nbsp;номерам:
                        <div class="">
                            <a href="tel:+375291669911">+375 29 166-99-11
                                <i class="fab fa-viber "></i>
                                <i class="fab fa-telegram-plane"></i>
                                <img src="../public/images/velcom.png" class="pb-1" height="16px" alt="Velcom">
                            </a>
                            <br>
                            <a href="tel:+375259222034">+375 25 9-222-034
                                <img src="../public/images/life.png" class="pb-1" height="16px" alt="Life">
                            </a>
                        </div>
                    </p>
                </div>
            </div>
            <div class="timeline-item">
                <div id="anchor-2" data-aos="fade-up" data-aos-anchor="#anchor-1">
                    <h3 class="">Выезд мастера к Вам</h3>
                    <p>
                        Оговаривается оптимально удобная для&nbsp;Вас дата и&nbsp;время. Вас посещает квалифицированный
                        специалист.
                    </p>
                </div>
            </div>

            <div class="timeline-item">
                <div id="anchor-3" data-aos="fade-up" data-aos-anchor="#anchor-2">
                    <h3 class="">Оформление договора и диагностика</h3>
                    <p>
                        Вы оформляете договор с&nbsp;нашим мастером и&nbsp;он производит бесплатную диагностику для&nbsp;обнаружения неисправностей.
                    </p>
                </div>
            </div>
            <div class="timeline-item wordwrap">
                <div id="anchor-4" data-aos="fade-up" data-aos-anchor="#anchor-3">
                    <h3 class="">Транспортировка устройства на&nbsp;территорию нашей мастерской</h3>
                    <p>
                        (Опционально)<br>
                        Транспортировка производится только в&nbsp;случае сложности исправления дефектов
                        непосредственно на&nbsp;месте.
                        В&nbsp;мастерской проводится повторная диагностика для&nbsp;детального изучения проблемы.
                        Дополнительные средства за&nbsp;транспортировку (в&nbsp;мастерскую и&nbsp;обратно) и&nbsp;повторную
                        диагностику не взымаются.
                    </p>
                </div>
            </div>
            <div class="timeline-item">
                <div id="anchor-5" data-aos="fade-up" data-aos-anchor="#anchor-4">
                    <h3 class="">Согласование стоимости будущего ремонта</h3>
                    <p>
                        Наш мастер сообщает вам стоимость исправления дефекта. Только после вашего согласия, он
                        приступает к&nbsp;ремонту устройства.
                    </p>
                </div>
            </div>
            <div class="timeline-item">
                <div id="anchor-6" data-aos="fade-up" data-aos-anchor="#anchor-5">
                    <h3 class="">Ремонт</h3>
                    <p>
                        Ремонт производится в&nbsp;кратчайшие сроки.<br><br>
                        (Опционально)<br>
                        После окончания ремонта мастер связывается с&nbsp;Вами, сообщает о&nbsp;готовности устройства. Затем
                        осуществляется обратная транспортировка в&nbsp;удобное для&nbsp;Вас время.
                    </p>
                </div>
            </div>
            <div class="timeline-item">
                <div data-aos="fade-up" data-aos-anchor="#anchor-6">
                    <h3 class="">Расчет за&nbsp;выполненную работу</h3>
                    <p>
                        Вы&nbsp;оплачиваете оговоренную ранее сумму. Также Вы&nbsp;получаете гарантию на&nbsp;ремонт в&nbsp;нашей
                        мастерской и&nbsp;можете обратиться к&nbsp;нам при&nbsp;повторном возникновении данной неисправности
                        во&nbsp;время гарантийного срока.
                    </p>
                </div>
            </div>
        </div>
        <div class="price-table-wrapper offset-lg-2 col-lg-8 offset-sm-1 col-sm-10 col-12">
            <div class="pricing-table">
                <h2 class="pricing-table__header text-uppercase">Основные неисправности</h2>
                <h3 class="pricing-table__price">от 20 рублей</h3>
                <table class="pricing-table__list d-none d-sm-block">
                    <tr>
                        <td>Проблемы с&nbsp;включением</td>
                        <td class="price">от 30 рублей</td>

                    </tr>
                    <tr>
                        <td>Залитие жидкостью</td>
                        <td class="price">от 20 рублей</td>
                    </tr>
                    <tr>
                        <td>Повреждение корпуса</td>
                        <td class="price">от 20 рублей</td>
                    </tr>
                    <tr>
                        <td>Сильный нагрев, шумы</td>
                        <td class="price">от 25 рублей</td>
                    </tr>
                    <tr>
                        <td>Проблемы с&nbsp;ПО</td>
                        <td class="price">от 25 рублей</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a data-toggle="modal" data-target="#contact" class="form-button text-uppercase" href="">
                                Заказать ремонт
                            </a>
                        </td>
                    </tr>
                </table>
                <table class="pricing-table__list d-block d-sm-none">
                    <tr>
                        <td>Проблемы c&nbsp;включением</td>
                        <td class="price">от 30 б.р</td>

                    </tr>
                    <tr>
                        <td>Залитие жидкостью</td>
                        <td class="price">от 20 б.р.</td>
                    </tr>
                    <tr>
                        <td>Повреждение корпуса</td>
                        <td class="price">от 20 б.р</td>
                    </tr>
                    <tr>
                        <td>Сильный нагрев, шумы</td>
                        <td class="price">от 25 б.р</td>
                    </tr>
                    <tr>
                        <td>Проблемы с&nbsp;ПО</td>
                        <td class="price">от 25 б.р</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <a data-toggle="modal" data-target="#contact" class="form-button text-uppercase" href="">
                                Заказать консультацию
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
    <!--Footer-->
    <footer class="page-footer pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-6 mt-md-0 mt-3">
                    <h5 class="text-uppercase">FAST SERVICE PLUS</h5>
                    <p>Ремонтная мастерская</p>
                </div>
                <hr class="clearfix w-100 d-md-none pb-3">
                <div class="phone col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Контакты:</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="tel:+375291669911">+375 29 166-99-11
                                <i class="fab fa-viber "></i>
                                <i class="fab fa-telegram-plane"></i>
                                <img src="../public/images/velcom.png" class="pb-1" height="16px" alt="Velcom">
                            </a>
                        </li>
                        <li>
                            <a href="tel:+375259222034">+375 25 9-222-034
                                <img src="../public/images/life.png" class="pb-1" height="16px" alt="Life">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3 mb-md-0 mb-3">
                    <h5 class="text-uppercase">Адрес</h5>
                    <ul class="list-unstyled">
                    </ul>
                </div>
            </div>
        </div>
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2019 Создано:
            <a href="">Elitel</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->

    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Заказать ремонт</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="send" method="POST">
                        <div class="form-group">
                            <label for="client-name" class="col-form-label">Ваше имя:</label>
                            <input type="text" class="form-control" id="client-name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="phone-number" class="col-form-label">Номер телефона:</label>
                            <input type="text" data-mask="+375 (00) 000 00 00" placeholder="+375 (__) ___ __ __"
                                class="form-control" id="phone-number" name="number" required>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="device">Устройство</label>
                            <select id="device" name="device" class="form-control" required>
                                <option value="">Выберите устройство</option>
                                <option value="Компьютер">Компьютер</option>
                                <option value="Ноутбук">Ноутбук</option>
                                <option value="Телефон">Телефон</option>
                                <option value="Планшет">Планшет</option>
                                <option value="Другое">Другое</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="problem" class="col-form-label">Описание неисправности</label>
                            <textarea rows="3" type="text" class="form-control" id="problem" name="problem"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-close" data-dismiss="modal">Закрыть</button>
                            <button type="submit" class="btn btn-send">Отправить</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>

        <script src="../public/js/jquery-3.3.1.min.js"></script>
        <script src="../public/js/jquery.mask.min.js"></script>
        <script src="../public/js/aos.js"></script>
        <script src="../public/js/animation_cards.js"></script>
        <script src="../public/js/bootstrap.min.js"></script>
        <script src="../public/js/scripts.js"></script>
</body>

</html>